body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
}
.main-title {
  font-family: 'WDXL Lubrifont SC', sans-serif;
  font-size: 33pt;
}
.intro-title {
  font-family: 'WDXL Lubrifont SC', sans-serif;
  font-size: 33pt;
  text-align: center;
  margin-top: 50%;
}
.top-btn {
  position: absolute;
  right: 10px;
  top: 10px;
}
nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}