
@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+SC&family=Roboto&family=Noto+Sans+KR&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fff;
  color: #000;
}

.title {
  font-family: 'WDXL Lubrifont SC', sans-serif;
  font-size: 33pt;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 18pt;
}

.button-large {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15pt;
  color: #AAAAAA;
}

.button-small {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15pt;
  background-color: #000000;
  color: #FFFFFF;
  width: 86px;
  height: 34px;
  border: none;
}
